@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#body {
    display: flex; 
    width: 75vw;
}

#leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0%;
    height: 100vh;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#rightside {
    flex: 1.75 1 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

#logo {
    font-size:60pt;
    height: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#photocredit {
    color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#header {
    outline: 2px solid blue;
    background-color: rgb(235, 235, 235);
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    padding: 0 40px;
}

#signup {
    margin: 0;
    border: 2px solid red;
    flex: 1 0 40%;
    box-shadow: 0 10px 20px -2px rgb(22 22 22);
    padding-left: 40px;
    padding-bottom: 20px;
}

#signupheader {
    font-size: 18pt;
}

#signupform {
    font-size: 10pt;
    font-weight: 400;
    box-shadow: 0 10px 20px -2px rgb(22 22 22);
}

#buttons {
    
    background-color: rgb(235, 235, 235);
    flex: 1 0 30%;
    padding-top: 25px;
    padding-left: 40px;
}

#signupform ul{
    display: flex;
    justify-content: left;
    gap: 60px;
    padding-left: 0;
}

#signupform li {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#signupform input {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

#formleft, #formright {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#buttons button {
    background-color: #3588a1;
    color:#fff;
    font-size: 14pt;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    height: 3em;
    width: 12em;
}

#buttons a {
    color: rgb(53, 136, 161);
    font-weight: 700;
    text-decoration: none;
}